.cart{padding: 17rem 5rem 10rem 25rem; min-height: 80rem;}
.h3{padding-bottom: 1rem; border-bottom: 1px solid #ccc; text-align: center; font-size: 4rem;}
.cartWrap{}
.table{width: 100%; border-collapse:collapse; margin-top: 3rem; margin-bottom: 3rem;}
.table thead{}
.table thead tr{}
.table thead tr th{border: 1px solid #ddd; text-align: center; padding: 1rem 0; font-size: 1.5rem; }
.table thead tr th input{margin-right: 0.5rem; vertical-align: middle;}
.table thead tr th:nth-child(1){width: 8%; text-align: center;}
.table thead tr th:nth-child(2){width: 72%;}
.table thead tr th:nth-child(3){width: 10%;}
.table thead tr th:nth-child(4){width: 10%;}
.table th:nth-child(1){text-align: left;}
.buy{font-size: 1.5rem; float: right;  border: 1px solid #000; background: transparent;  padding: 1rem 2rem;}
.buy:hover{background: midnightblue; color: #fff;}