.detail{padding: 17rem 5rem 10rem 25rem; }
.detailWrap{display: flex; padding-bottom: 20px;}
.imgWrap{width: 50%;}
.imgWrap img{width: 100%;}

.text{width: 50%;  padding: 0 5rem; display: flex; flex-direction: column; gap: 2rem;}
.h4{color: #333;  font-size: 4rem; font-style: italic;}
.price{ font-size: 2.4rem;}
/* .card{margin-bottom: 1rem;} */
.delivery{font-size: 1.8rem;}
.size{display: flex; justify-content: space-between; align-items: center ;font-size: 2.3rem;}
.span{font-size: 2.3rem; border: 1px solid #000; border-radius: 20px;height: 4rem; line-height: 4rem; padding: 0 2rem;}

.description{border-top: 1px solid #ddd; font-size: 2rem;padding-top: 2rem; padding-bottom: 5rem;}
/* .cart{border: 1px solid #000; padding:1.5rem 2rem; background: none;}
.cart:hover{background: #141456;color: #fff; border: none;} */

.detailImg{margin: 0 auto; padding-top: 50px; border-top: 1px solid #000;}
.detailImg img{width: 100%;}